* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
    width: 80%;
}

#wfgc-logo {
    max-width:100px;
    height: auto;
    margin: 0 30px;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}

.nav-item {
    margin-left: 20px;
}


.nav-link {
    margin-left: 20px;
    font-size: 1.5rem;
}

.hero-content-container {
    width: 100%;
    height: 100%;
}

.hero-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    padding-top: 100px;

}

.hero-title {
    color: #fff;
    text-align: center;
    font-size: 4.5em;
    text-transform: uppercase;
}

.hero-tagline {
    color: #fff;
    font-size: 1.5rem;
    padding: 30px 0;
}

.hero-btn {
    border: solid 1px #fff;
    padding: 10px 15px;
    margin: 20px 10px;
    font-size: 1.5rem;
}

.hero a {
    color: #fff;

}

.cta-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 0 100px;
    margin: 50px 0;
    height: 100%;

}

.cta-card {
    width: 350px;
    height: 230px;
    padding: 20px 30px;
    display: flex;
    flex-flow: column;
    border-top: 4px solid rgb(221, 144, 0);
    -webkit-box-shadow: 0px 8px 14px -8px #737373; 
    box-shadow: 0px 8px 14px -8px #737373;
}

.cta-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.card-title {
    text-transform: uppercase;
    margin: 5px 0;
}

.card-text {
    font-size: 1.2rem;
    flex-grow: 2;
}

.card-btn {
    background-color: #000;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 150px;
}

.card-btn:hover {
    background-color: rgb(221, 144, 0);
}

#prayer {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/praying.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.prayer-content {
    width: 600px;
    text-align: center;
}

.prayer-content h2 {
    font-size: 4rem;
}

.prayer-content p {
    font-size: 1.3rem;
    line-height: 30px;
    padding: 15px;
    margin-bottom: 20px;
}

.prayer-content a {
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
}

.prayer-content a:hover {
    border: 1px solid rgb(221, 144, 0);
    padding: 10px 20px;
    color: rgb(221, 144, 0);
}








.content-icon {
    max-width: 100px;
    height: auto;
}

.footer-icon {
    max-width: 50px;
    height: auto;
}




::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 185, 56); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 144, 0); 
  }